
.galary img, div .galary {
  padding: 10px;
  width: 8em;
}

div .galary {
  display: inline-block;
  margin: 0px;
}

.galary img{
  -webkit-filter: opacity(100%); /* Safari */
  filter: opacity(100%);
  -webkit-transition : -webkit-filter 0.3s linear
}

.galary img:hover {
  -webkit-filter: opacity(30%); /* Safari */
  filter: opacity(30%);
  -webkit-transition : -webkit-filter 0.3s linear
}

#img-details {
  display: block;
  margin: auto;
}
