body {
  background-color: #342d3c;
  color: white;
  font-family: "Courier New", "Noto Sans CJK TC Thin";
  margin: 0;
}

.site-head-block {
  background: #CE634E;
  display: inline-block;
  padding: 2px;
  margin: 2px;
  width: 150px;
  text-decoration: none;
  color: white;
}

#list-text {
  margin: auto;
}

.site-head-block:hover {
  background: #2ED184;
  cursor: pointer;
}
#site-list{
  margin: auto;
  text-align: center;
    z-index: 200;
}
#site-body {
  background: rgb(120, 198, 152, 0.05);
  padding: 50px;
}
#content {
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  height: 500px;
  text-align: left;
}
#svg {
  margin: auto;
  margin-top: 80px;
  height: 371px;
  text-align: center;
}

#news-table {
  display: block;
  border-collapse: collapse;
}

.news-row {
  height: 2.5em;
  margin: 10px;
}

.news-date, .news-title {
  border-bottom: 1px solid #ddd;
  vertical-align: bottom;
  padding: 10px;
  -webkit-transition-property: border-bottom;
  -webkit-transition-duration: 0.2s;
  -o-transition-property: border-bottom;
  -o-transition-duration: 0.2 s;
}

.news-title:hover {
  border-bottom: 6px solid #2ED184;
  -webkit-transition-property: border-bottom;
  -webkit-transition-duration: 0.1s;
  -o-transition-property: border-bottom;
  -o-transition-duration: 0.1s;
}

.news-date-text {
  font-size: 0.9em;
  background-color: #2ED184;
  color: #342d3c;
  padding: 2px 20px 1px 20px;
}

.news-title {
    margin: 2px;
    font-size: 1.2em;
}
